main {
  width: 100%;
}

.main-div {
  margin-top: 16vh;
  height: calc(100% - 16vh);
}

#navbar-top {
  button {
    color: #144075;
  }

  .nav-link {
    margin-left: 5px;
    color: #999;
    padding-left: 1px;
    padding-right: 1px;
  }
}

#navbar-footer {
  height: 14vh;
  a {
    color: #fff;
  }

  .btn-secondary {
    border: 0;
    font-weight: 300;
  }

  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
  }


}