<div class="d-flex justify-content-md-center align-items-center vh-100">
    <div class="jumbotron text-center" style="max-width: 600px; width: 100%">
        <h1>{{ "thanks" | translate }}</h1>
        <div class="mt-3">
            <fa-icon [icon]="faCheck" style="font-size: 100px"></fa-icon>
        </div>
    </div>
</div>