<div id="page-recommendations" class="d-flex justify-content-md-center">
    <div class="jumbotron text-center" style="max-width: 600px; width: 100%">
        <div *ngFor="let items of recommendations; index as i;">

            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">{{ items.title | translate }}</h2>
                </div>
                <div class="card-body" style="white-space: pre-wrap;">
                    {{ items.description | translate }}
                </div>
            </div>
        </div>
    </div>
</div>