$theme-colors: (
  "primary": #144175,
  "navbarColor01": #ff4136,
  "white": #fff,
  "footer": #144175
);

$enable-transitions: true;

.navbar {
  svg {
    height: 8vh;
  }
}

.fixed-top {
  height: 16vh;
}

#navbar-footer {

    .btn {
        padding: 4vh 0;
        font-size: 2vh;

    }
}

html {
  height: calc(100% - 16vh);
  overflow: hidden;
}

body {
  height: 100%;
}

main {
  height: 100%;
  overflow: scroll;
}

@import "~bootswatch/dist/lumen/variables";
@import "~bootstrap/scss/bootstrap";
