.jumbotron {
    background: none;
}

.card {
    margin-bottom: 2vh;
}

.card-header h2 {
    font-size: 2.8vh;
}

.card-body {
    font-size: 2.2vh;
}

.pb-5 {
    margin-top: -4vh;
    font-size: 2.4vh
}

#help-page {
    h2 {
        font-size: 2vh;
    }
}