<div class="d-flex justify-content-md-center">
    <div class="jumbotron text-center" style="max-width: 600px; width: 100%">
        <div *ngFor="let items of recommendations; index as i;">

            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">{{ items.title | translate }}</h2>
                </div>
                <div class="card-body" style="white-space: pre-wrap;">
                    {{ items.description | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="help-page" class="justify-content-md-center d-flex">
    <div class="jumbotron text-center" style="max-width: 600px; width: 100%">
        <div class="pb-5">
            {{ "HELP.description" | translate }}
        </div>
        <div class="accordion" id="accordion" style="overflow:scroll;">
            <div *ngFor="let items of helpElements; index as i;">

                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" aria-controls="collapseOne">
                                {{ items.title | translate }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse{{i}}" class="collapse">
                        <div class="card-body" style="white-space: pre-wrap;" *ngIf="!items.type">
                            {{ items.description | translate }}
                        </div>
                        <div class="card-body" style="white-space: pre-wrap;" *ngIf="items.type === 'multiple'">
                            <div *ngFor="let e of items.multiple">
                                <strong>{{ e.title | translate }}</strong>
                                <p class="pt-2">
                                    {{ e.description | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>