.table td {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  .table th fa-icon {
    margin-right: 8px;
  }
  
  .font-white {
    color: #fff
  }

  .bg-warning-red {
    background-color: #FF8479 !important
  }
  
  .stats-icon {
    height: 12vh;
    margin: 2vh 0;
  }

  .card {
    padding: 1vh;
    width: 200px;
    height: 200px;
    border: 0;
    margin: 0 auto;
  }

  h1 {
    font-size: 3vh;
  }