:host {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 6vh;
}

.diagnosis-step {
    width: 100%;

    .btn {
        font-size: 2.6vh;
        padding: 1.5vh 3vw;
    }
}

.form-group {
    width: 200px;
    margin: 0 auto;
    float: none;
    margin-bottom: 3vh;
}

.diagnosis-icon {
    height: 12vh;
    margin-bottom: 3vh;
}

.custom-control {
    margin-bottom: 3vh;
}

.diagnosis-result {
    width: 100%;
    margin-right: 5vw;
    margin-left: 5vw;

    .description {
        margin-bottom: 3vh;
    }

    .result {
        font-size: 5vh;
        margin-bottom: 3vh;
        font-weight: 900;
    }
    .disclaimer {
        padding: 2vh 1vw;
        border: 3px solid #ec6a8c;
        margin-bottom: 3vh;
    }

}

.custom-control-label::before {

}

select, .input-group-text, label {
    font-size: 2.8vh;
}

label {
    line-height: 2.8vh;
}

h1 {
    font-size: 4.2vh;
    margin-bottom: 3vh;
}

h3 {
    font-size: 3vh;
    margin-bottom: 3vh;
}

.btn {
    font-size: 2vh
}